<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>


  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" preCondition="integratedMode" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="WebLogicPath" value="C:\inetpub\wwwroot\everfresh_api"/>
    <!--OSS-->
    <add key="accessId" value=""/>
    <add key="accessKey" value=""/>

    <!--Error message-->
    <add key="member_nonexist" value="用户不存在" />
    <add key="staff_host_nonexist" value="用户不存在" />
    <add key="password_error" value="登录密码错误" />
    <add key="invalid_token" value="Token登录失败，请重新登录" />
    <add key="invalid_invitationcode" value="邀请码无效或为空" />
    <add key="empty_token" value="Token为空" />
    <add key="duplicate_email" value="邮箱已存在，请重试" />
    <add key="invalid_oldpassword" value="旧密码验证失败，请输入正确的旧密码" />
    <add key="duplicate_name" value="昵称已经被用掉" />
    <add key="duplicate_email" value="Email已经被注册" />
    <add key="duplicate_cellphone" value="电话号码已经被注册" />
    <add key="invalid_login" value="只能使用邮箱或者手机号登录" />
    <add key="general_error" value="参数错误" />
    <add key="confirmation_code_mismatch" value="验证码不符" />
    <add key="wechatid_duplicate" value="创建用户失败，微信帐号已存在，请直接登录。" />
    <add key="wechatid_null" value="微信帐号为空" />
    <add key="recommend_nonexist" value="推荐的人不存在" />
    <add key="wechati_notsignup" value="微信未注册"/>



  </appSettings>

  <connectionStrings>
    <add connectionString="Data Source=xxx.xxx.xxx.xxx;Initial Catalog=everfresh_db;Persist Security Info=True;User ID=xxxxx;Password=xxxxx" name="database" />
  </connectionStrings>
</configuration>